body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.columns {
	display: flex;
	font-size: 20px;
	color: #777;
	font-weight: bold;
}

.column + .column {
	border-left: 1px solid #777;
	padding-left: 10px;
	margin-left: 10px;
}
